# 作業 : (Kaggle)鐵達尼生存預測

In [1]:
# 載入套件與資料
import pandas as pd
import numpy as np

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [2]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [4]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
        
print('{} Integer Features : {}\n'.format(len(int_features), int_features))
print('{} Float Features : {}\n'.format(len(float_features), float_features))
print('{} Object Features : {}'.format(len(object_features), object_features))
# notice: f-string issue => https://blog.softhints.com/python-3-syntaxerror-invalid-syntax-f-strings/

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?

object, 會出現np的判斷unique錯誤

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

圖, 要先做標準化

#### int處理

In [5]:
# 例 : 整數 (int) 特徵取平均 (mean)
print(df[int_features].mean())
"""
Your Code Here
"""
df[int_features].max()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

Pclass    3
SibSp     8
Parch     9
dtype: int64

### 1. 判斷獨特值

In [10]:
for cols in df[int_features]:
    print('{} unique values in {}: {}\n'.format(len(np.unique(df[int_features][cols])), cols, np.unique(df[int_features][cols])))

3 unique values in Pclass: [1 2 3]

7 unique values in SibSp: [0 1 2 3 4 5 8]

8 unique values in Parch: [0 1 2 3 4 5 6 9]

In [9]:
df[int_features]['Pclass']

0      3
1      1
2      3
3      1
4      3
5      3
6      1
7      3
8      3
9      2
10     3
11     1
12     3
13     3
14     3
15     2
16     3
17     2
18     3
19     3
20     2
21     2
22     3
23     1
24     3
25     3
26     3
27     1
28     3
29     3
      ..
388    3
389    3
390    1
391    1
392    3
393    2
394    3
395    1
396    3
397    1
398    3
399    3
400    1
401    2
402    1
403    1
404    1
405    2
406    2
407    1
408    3
409    3
410    3
411    1
412    3
413    3
414    1
415    3
416    3
417    3
Name: Pclass, Length: 1309, dtype: int64

### 2. 判斷獨特值

In [11]:
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

#### float處理

In [32]:
print(df[float_features].mean())
df[float_features].max()

Age     29.881138
Fare    33.295479
dtype: float64

Age      80.0000
Fare    512.3292
dtype: float64

In [12]:
for cols in df[float_features]:
    print('{} unique values in {}: {}\n'.format(len(np.unique(df[float_features][cols])), cols, np.unique(df[float_features][cols])))

361 unique values in Age: [ 0.17  0.33  0.42  0.67  0.75  0.83  0.92  1.    2.    3.    4.    5.
  6.    7.    8.    9.   10.   11.   11.5  12.   13.   14.   14.5  15.
 16.   17.   18.   18.5  19.   20.   20.5  21.   22.   22.5  23.   23.5
 24.   24.5  25.   26.   26.5  27.   28.   28.5  29.   30.   30.5  31.
 32.   32.5  33.   34.   34.5  35.   36.   36.5  37.   38.   38.5  39.
 40.   40.5  41.   42.   43.   44.   45.   45.5  46.   47.   48.   49.
 50.   51.   52.   53.   54.   55.   55.5  56.   57.   58.   59.   60.
 60.5  61.   62.   63.   64.   65.   66.   67.   70.   70.5  71.   74.
 76.   80.     nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan
   nan]

282 unique values in Fare: [  0.       3.1708   4.0125   5.       6.2375   6.4375   6.45     6.4958
   6.75     6.8583   6.95     6.975    7.       7.0458   7.05     7.0542
   7.125    7.1417   7.225    7.2292   7.25     7.2833   7.3125   7.4958
   7.5208   7.55     7.575    7.5792   7.6292   7.65     7.7208   7.725
   7.7292   7.7333   7.7375   7.7417   7.75     7.775    7.7792   7.7875
   7.7958   7.8      7.8208   7.8292   7.85     7.8542   7.875    7.8792
   7.8875   7.8958   7.925    8.0292   8.05     8.1125   8.1375   8.1583
   8.3      8.3625   8.4042   8.4333   8.4583   8.5167   8.6542   8.6625
   8.6833   8.7125   8.85     8.9625   9.       9.2167   9.225    9.325
   9.35     9.475    9.4833   9.5      9.5875   9.6875   9.825    9.8375
   9.8417   9.8458  10.1708  10.4625  10.5     10.5167  10.7083  11.1333
  11.2417  11.5     12.      12.1833  12.275   12.2875  12.35    12.475
  12.525   12.65    12.7375  12.875   13.      13.4167  13.5     13.775
  13.7917  13.8583  13.8625  13.9     14.      14.1083  14.4     14.4542
  14.4583  14.5     15.      15.0333  15.0458  15.05    15.1     15.2458
  15.5     15.55    15.5792  15.7417  15.75    15.85    15.9     16.
  16.1     16.7     17.4     17.8     18.      18.75    18.7875  19.2583
  19.5     19.9667  20.2125  20.25    20.525   20.575   21.      21.075
  21.6792  22.025   22.3583  22.525   23.      23.25    23.45    24.
  24.15    25.4667  25.5875  25.7     25.7417  25.925   25.9292  26.
  26.25    26.2833  26.2875  26.3875  26.55    27.      27.4458  27.7208
  27.75    27.9     28.5     28.5375  28.7125  29.      29.125   29.7
  30.      30.0708  30.5     30.6958  31.      31.275   31.3875  31.5
  31.6792  31.6833  32.3208  32.5     33.      33.5     34.0208  34.375
  34.6542  35.      35.5     36.75    37.0042  38.5     39.      39.4
  39.6     39.6875  40.125   41.5792  42.4     42.5     45.5     46.9
  47.1     49.5     49.5042  50.      50.4958  51.4792  51.8625  52.
  52.5542  53.1     55.      55.4417  55.9     56.4958  56.9292  57.
  57.75    57.9792  59.4     60.      61.175   61.3792  61.9792  63.3583
  65.      66.6     69.3     69.55    71.      71.2833  73.5     75.2417
  75.25    76.2917  76.7292  77.2875  77.9583  78.2667  78.85    79.2
  79.65    80.      81.8583  82.1708  82.2667  83.1583  83.475   86.5
  89.1042  90.      91.0792  93.5    106.425  108.9    110.8833 113.275
 120.     133.65   134.5    135.6333 136.7792 146.5208 151.55   153.4625
 164.8667 211.3375 211.5    221.7792 227.525  247.5208 262.375  263.
 512.3292      nan]

In [13]:
df[float_features].nunique()

Age      98
Fare    281
dtype: int64

#### 處理obj

In [33]:
print(df[object_features].mean())
df[object_features].max()

Series([], dtype: float64)

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [14]:
for cols in df[object_features]:
    print('{} unique values in {}\n'.format(len(np.unique(df[object_features][cols])), cols))

1307 unique values in Name

2 unique values in Sex

929 unique values in Ticket

TypeError: unorderable types: str() < float()

In [15]:
df[object_features].nunique()

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64